
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* pseudo class global (:root) ini digunakan untuk menampung variable css */
:root{
    /* --purple:#814096; */
    /* nama variable css harus di awali dengan simbol '--'  */
    --purple:rgb(120 73 215);
    --purple2: #be2edd;
    --deepkomaru: #30336b;
    --pink:#F83292;
    --black: rgb(39, 38, 44);
    --blue: rgb(31, 199, 212);
    /* gradasi warna */
    /* Fungsi var()ini digunakan untuk memasukkan nilai dari variabel CSS */
    --gradient:linear-gradient(90deg, var(--purple), var(--pink)); 
}

*{
    font-family: 'Righteous';
    /* menetralisir margin padding default */
    margin:0; padding:0; 
    box-sizing: border-box;
    /* menghilangkan dekorasi teks/ garis bawah */
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

/* ketika menseleksi kalimat background akan berwarna pink dan huruf putih */
*::selection{
    background:var(--purple);
    color:#fff;
}

html{
    /* Apabila parent element tag <div> adalah tag <body> yang ukuran fontnya tidak dinyatakan, 
    maka perent element akan ditentukan oleh ukuran default text web browser. Ukuran default web 
    browser ini disebut sebagai base text size yang umumnya berukuran 16px. */
    /* membuat ukuran font lebih kecil 62.4% dari font default */
    font-size: 62.5%;
    /* Properti overflowmenentukan apa yang harus terjadi jika konten melebihi kotak elemen. */
    /* supaya content di hidden dan muncul scroll nya. Saat nya kita gunakan overflow-x:hidden  */
    overflow-x: hidden;
}
/* warna background standard website */
body{
    background:#f9f9f9;
}
/* setiap section memiliki minimal height 100vh (viewport height.)
Satuan ini bergantung pada induk elemennya, jika induk elemen mempunyai ukuran 300px x 400px maka 1vh 
darinya adalah 400 * 1/100 = 4px dan jika 100vh artinya adalah height yang kita tentukan 100% dari height induknya. */
section{
    min-height: 100vh;
    /* padding atas bawah 0 , kiri kanan 9% mengikuti element induk di atasnya jika element induk diatasnya tidak memiliki lebar maka akan di ambil lebar dari element induk di atasnya lagi */
    padding:0 9%;
    padding-top: 7.5rem;   /* rem = 16px */
    padding-bottom: 2rem;
}

/* 
    button primary style
*/
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--blue);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

/* 
    heading text gradasi style
*/
/* text besar/judul/heading yang bergradasi*/
.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    /* digunakan untuk membuat warna text menjadi gradasi */
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

/* 
    Navbar Style
*/

header{
    /* navbar posisi fixed artinya navbar akan keluar dan melayang dan 
    tempat navbar sebelumnya akan di ambil oleh section di bawahnya */
    position: fixed;
    top:0; left:0;
    /* lebar navbar 100% agar selalu sampai ujung layar */
    width:100%;
    background:#fff;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    /* padding atas bawah 2rem padding kiri kanan 9% */
    padding:2rem 9%;
    /* Mmengatur bagaimana item fleksibel akan tumbuh atau menyusut agar sesuai 
    dengan ruang yang tersedia di wadah fleksibelnya */
    display: flex;
    /* Kotak margin item fleksibel dipusatkan di dalam garis pada sumbu silang. 
    Jika ukuran silang item lebih besar dari wadah fleksibel, itu akan meluap secara 
    merata di kedua arah.  Pack items around the center atas bawah */
    align-items: center;
    /* Bagikan item secara merata Item pertama rata dengan ke kiri, yang terakhir rata dengan ke kanan */
    justify-content: space-between;
    /* Properti z-indexmenentukan urutan tumpukan elemen. */
    z-index: 1000;
}
/* header logo  stream*/
header .logo{
    font-size: 2rem;
    color:var(--deepkomaru);
}
/* header logo donut */
header .logo span{
    color: var(--purple2);
}
/* menu pada navbar */
header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--purple2);
}
/* psuedo class hover, jika cursor menyentuh element maka element akan berubah warna menjadi pink */
header .navbar a:hover{
    color:var(--pink);
}
/* agar btn connect tidak terkena hover di atas maka di setting menggunakan psuedo class nth-child */
/* Kelas pseudo CSS mencocokkan elemen berdasarkan posisinya di antara sekelompok saudara kandung.:nth-child() */
header .navbar a:nth-child(5) {
    color: #fff;
    text-align: center;
}

/* menghilangkan element/tampilan checkbox pada layar, navbar menggunakan input checkbox untuk membuat sistem true false atau buka tutup */
header input{
    display: none;
}

/* hamburger menu styling */
header label{
    font-size: 3rem;
    color:var(--purple);
    /* agar kursor menjadi ikon tunjuk jari/pointer */
    cursor: pointer;
    /* hidden dan opacity digunakan untuk menyembunyikan gambar hamburger saat layar desktop */
    visibility: hidden;
    opacity: 0;
}
/* menetralkan margin btn pada navbar karena class .btn sebelumnya memiliki margin 1rem  */
header .navbar .btn {
    /* color:#fff; */
    margin-top: 0;
}


/* 
    Home Section Style
*/

/* gambar background di landing hero pojok kanan */
.home{
    /* pakai flex agar element a dan b bisa bersebelahan */
    display: flex;
    /* Properti align-items menentukan perataan default untuk item di dalam wadah fleksibel. */
    align-items: center;
    /* element a dan b bertemu di tengah */
    justify-content: center;
    /* no repeat agar image tidak repeate */
    /* background:url(../images/home-bg-img.png) no-repeat; */
    /* Ubah ukuran gambar latar belakang untuk menutupi seluruh wadah, bahkan jika itu harus 
    meregangkan gambar atau memotong sedikit dari salah satu tepi */
    /* background-size: cover; */
    /* background-position: center; */
}
/* donut img styling */
.home .image img{
    /* vw viewport width */
    width:40vw;
    /* animasi gambar mengambang secara linier durasi 3second dan infinite*/
    /* animation: float 3s linear infinite; */
    /* @keyframes name | duration | easing-function | delay | playstate*/
    animation: float 3s ease-in-out 1s infinite;
}

@keyframes float{
    0%{
        transform: translate(0px, 0px);
    }
    /* 50% dari duration */
    50%{
        transform: translate(5px, 10px);
    }
}

.home .content h3{
    font-size: 5.5rem;
    color:#333;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--purple2);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}

/* 
    home features styling 
*/
.features .box-container{
    display: flex;
    /* rata atas bawah */
    align-items: center;
    /* rata kkiri kanan */
    justify-content: center;
    /* Properti flex-wrapmenentukan apakah item fleksibel harus dibungkus atau tidak. */
    /* alaupun konten box sudah melebihi lebar pembungkusnya tidak akan 
    berpengaruh maka dari itu disini saya berikan pada containernya, seperti di 
    atas flex-wrap: wrap */
    /* akan otomatis mengecek berapa lebar dari parent boxnya apakah cukup atau 
    parentnya sudah penuh ? maka dia otomatis mengatur kolom box childnya
     dan berusaha seproposional mungkin. Intinya dia akan membagi lebarnya \
     dan bila lebarnya tidak cukup lagi maka dia akan turun kebawah seperti berikut  */
    flex-wrap: wrap;
}

.features .box-container .box{
    /* flex: flex-grow flex-shrink flex-basis */
    /*  Flex-grow
    Flex-grow memberi tahu elemen kita apakah itu bisa memakan ruang tambahan atau tidak.
    Saat kami menetapkan nilai flex-grow 1 atau lebih besar, kami memberi tahu elemen kami 
    untuk tumbuh untuk mengambil ruang yang tersedia. Elemen dengan nilai flex-grow yang 
    disetel ke 0 tidak akan tumbuh untuk mengambil ruang yang tersedia.

    flex-shrink Elemen dengan nilai flex-shrink 0 tidak akan menyusut saat halaman kita semakin 
    kecil. Ini hanya berlaku jika tidak ada nilai flex-grow pada elemen ini. Jika ada nilai 
    flex-grow, elemen tidak akan menyusut lebih kecil dari kontennya. Elemen dengan nilai 
    penyusutan fleksibel 1 akan menyusut, tetapi tidak lebih kecil dari kontennya.
    */
    /* flex-basis
    fleksibel: 1 0 200 piksel;
    Jika Anda memiliki satu elemen yang memiliki flex-basis 200px, flex-grow 1, dan flex-shrink 0, 
    elemen ini akan memiliki lebar minimal 200px, tetapi akan dibiarkan tumbuh jika ada ruang ekstra. 
    Dalam hal ini, Anda dapat menganggap basis fleksibel sebagai lebar minimum.

    fleksibel: 0 1 200px;
    Mari kita pertimbangkan kasus sebaliknya. Mari kita atur flex-basis 200px lagi, tapi mari kita hanya 
    mengatur flex-shrink 1, flex-grow akan menjadi 0. Di sini kita akan memiliki elemen yang terbesar 200px, 
    tetapi diizinkan untuk lebih kecil. Di sini flex-basis bertindak seperti lebar maksimum. */
    flex:1 1 30rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    /* transition: 1.2s linear; */
}

.features .box-container .box img{
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
}

.features .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding: 1rem 0;
}


  /* ------------------------ */
 /* home start money styling */
/* ------------------------ */
.home-start-money{
    /* background:url(../images/about-bg.png) no-repeat; */
    /* background-size: cover;
    background-position: center; */
    padding-bottom: 3rem;
}

.home-start-money .column{
    /* agar element a dan b sejajar */
    display: flex;
    /* rata tengah atas bawah */
    align-items: center;
    /* agara element a dan b saling bertemu di tengah */
    justify-content: center;
    /* membungkus element a dan b */
    flex-wrap: wrap;
    /* margin atas 20px */
    margin-top: 20px;
}

.home-start-money .column .image{
    flex:1 1 40rem;
    /* transform: rotateY(180deg); */
    display: inline-block;
}

.home-start-money .column .image img{
    width:30%;
}

.home-start-money .column .content{
    /* flex-grow | flex-shrink | flex-basis */
    /* jika flex-grow 1 maka element akan membesar jika ada ruangan ekstra ketika layar membesar */
    /* jika flex-shrink 1 maka element akan mengecil ketika layar mengecil dan maksimal besarnya 40rem*/
    flex:1 1 40rem;
}

.home-start-money .column .content h3{
    font-size: 3rem;
    color:#666;
}

.home-start-money .column .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.home-start-money .column .content .buttons a:last-child{
    margin-left: 2rem;
}

  /* -------------- */
 /* abouut styling */
/* -------------- */
#about {
    min-height: 80vh;
    padding:0 9%;
    padding-top: 16rem;
    padding-bottom: 2rem;
}

.about{
    /* background:url(../images/about-bg.png) no-repeat; */
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image{
    flex:1 1 40rem;
    transform: rotateY(180deg);
    display: inline-block;
    
}

.about .column .image img{
    width:100%;
}

.about .column .content{
    flex:1 1 40rem;
}

.about .column .content h3{
    font-size: 3rem;
    color:#666;
}

.about .column .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.about .column .content .buttons a:last-child{
    margin-left: 2rem;
}

  /* ----------------------------------- */
 /* newsletter/start in seccond styling */
/* ----------------------------------- */
.newsletter{
    text-align: center;
    padding:5rem 1rem;
    background-color: var(--purple);
}

.newsletter h3{
    color:#fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter p{
    color:#fff;
    font-size: 1.6rem;
    margin:2rem auto;
    width:70rem;
}

.newsletter form{
    display: flex;
    max-width: 70rem;
    border:.2rem solid #fff;
    padding:.5rem;
    border-radius: 5rem;
    margin:2rem auto;
    height:5.5rem;
}

  /* ------------------ */
 /* payment     styling */
/* ------------------ */

.payment .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* @media (max-width:1066px){
    
    .payment .box-container {
        max-width: 51rem;
        margin: auto;
    }

} */

.payment .box-container .box{
    margin:0.5rem;
    padding:1rem;
    text-align: center;
    /* Value relative digunakan untuk membuat suatu element bisa dipindah pindahkan  */
    position: relative;
    flex:1 1 30rem;
    max-width: 24rem;
}

/* .payment .box-container .box .fa-quote-right{
    Value absolute digunakan untuk membuat suatu elemen bisa dipindahkan dan membuat elemen 
    mengambang ke atas dibanding element lain. Bedanya dengan property relative, pada property absolute 
    layer bawahnya akan bergeser seolah olah berada di bawah layer dengan property relative.
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    color:var(--black);
    opacity: .3;
} */

.payment .box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 17rem;
    width:17rem;
    margin-top: 2rem;
}

.payment .box-container .box .user h3{
    color:var(--black);
    font-size: 2rem;
}

/* .payment .box-container .box .user .stars i{
    color:var(--purple);
    font-size: 1.5rem;
    padding:1rem 0;
} */

/* .payment .box-container .box .comment{
    color:#666;
    font-size: 1.4rem;
    padding:1rem;
} */

  /* ------------------ */
 /* team     styling */
/* ------------------ */
#team {
    min-height: 80vh;
    padding:0 9%;
    padding-top: 16rem;
    padding-bottom: 2rem;
}
.team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* @media (max-width:1066px){
    
    .team .box-container {
        max-width: 51rem;
        margin: auto;
    }

} */

.team .box-container .box{
    background:#fff;
    margin:0.5rem;
    padding:1rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    border-radius: .5rem;
    max-width: 24rem;
}

/* .team .box-container .box .fa-quote-right{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    color:var(--pink);
    opacity: .3;
} */

.team .box-container .box .user img{
    border-radius: 10%;
    object-fit: cover;
    height: 17rem;
    width: 10prem;
    margin-top: 2rem;
}

.team .box-container .box .user h3{
    color:var(--deepkomaru);
    font-size: 2rem;
}

.team .box-container .box .user .stars i{
    color:var(--blue);
    font-size: 1.5rem;
    padding:1rem 0;
}

.team .box-container .box .comment{
    color:#666;
    font-size: 1.4rem;
    padding:1rem;
}

  /* ------------------ */
 /* pricing    styling */
/* ------------------ */
/* .pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .box-container .box{
    flex:1 1 27rem;
    margin:1rem;
    padding:1rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}

nth child 2 maksudnya bx pricing ke2 akan selalu memiliki border pink
.pricing .box-container .box:nth-child(2),
.pricing .box-container .box:hover{
    border:.2rem solid var(--pink);
}

.pricing .box-container .box .title{
    color:var(--purple);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.pricing .box-container .box .price{
    font-size: 4rem;
    color:var(--pink);
    padding:1rem 0;
}

.pricing .box-container .box .price span{
    font-size: 2rem;
}

.pricing .box-container .box ul{
    padding:1rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}

.pricing .box-container .box ul li .fa-check{
    color:lightgreen;
}

.pricing .box-container .box ul li .fa-times{
    color:tomato;
} */

  /* ------------------ */
 /* footer     styling */
/* ------------------ */
.footer{
    padding-top: 3rem;
    /* background:url(../images/footer-bg.png) no-repeat; */
    background-color: var(--black);
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 14rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 1.5rem;
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}

  /* ------------------ */
 /* wallet     styling */
/* ------------------ */

.connect-wallet-modal {
    width: 300px;
    height: auto;
    background: #fff;
    margin: auto;
    margin-top: 10rem;
    padding: 25px 40px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  }
  .connect-wallet-title {
    color: rgb(39, 38, 44);
    text-align: center;
    font-size: 1.7rem;
  }
  .wallet-list {
    list-style: none;
    padding: 0px;
  }
  .wallet-list li {
    cursor: pointer;
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    margin: 15px auto;
    background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%);
    color: rgb(39, 38, 44);
  }
  .wallet-list li:hover {
    border-color: rgb(125, 236, 246);
  }
  .connect-wallet-footer {
    color: rgb(39, 38, 44);
    text-align: center;
  }
  .connect-wallet-footer a {
    color: rgb(120 73 215);;
  }

  #wallet {
    min-height: 80vh;
    padding: 0 9%;
    padding-top: 2rem;
    padding-bottom: 4rem;
}











/* media queries  */

@media (max-width:1200px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (max-width:768px){

  /* ------------------ */
 /* header 768 queries */
/* ------------------ */
    /* ketika layar 768px hamburger menu muncul */
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        /* top 100% agar menu muncul di bawah navbar */
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        /* asal menu muncul jika di ubah top ke right dan scaleY ke X maka menu akan muncul dari kanan ke kiri*/
        transform-origin: top;
        /* dari skala suduk 0 sampai ke 1 */
        transform: scaleY(0);
        opacity: 0;
        transition: .3s linear;
    }

    header .navbar a{
        /* display block agar link menu sejajar kebawah */
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    /* jika checkbox = checked maka ,  .navbar muncul dari sudut 0 Yke 1*/
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    /* jika checkbox = checked maka , HAMBURGER menu berubah menjadi silang */
    header input:checked ~ label::before{
        content:'\f00d';
    }

  /* ------------------ */
 /* home 768   queries */
/* ------------------ */
    .home{
        /* agar posisi item di dalamnya terbalik ABC jadi CAD secara kolom */
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
        /* jarak antara navbar dan img saat mobile */
        margin-top: -160px;
        margin-bottom: 48px;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

  /* ---------------------------- */
 /* home make money 768  queries */
/* ---------------------------- */
.home-start-money{
    background-position: right;
}

  /* ------------------ */
 /* about 768  queries */
/* ------------------ */
    .about{
        background-position: right;
    }
  /* ----------------------- */
 /* newsletter 768  queries */
/* ----------------------- */

    .newsletter p{
        width:auto;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }
     /* ------------------ */
    /* about 450  queries */
   /* ------------------ */
   
    .about .column .content .buttons a{
        width:100%;
        text-align: center;
        margin: 1rem 0;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

  /* ---------------------------- */
 /* home make money 450  queries */
/* ---------------------------- */

    .home-start-money .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .home-start-money .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

  /* ---------------------------- */
 /* team            450  queries */
/* ---------------------------- */
    #team,
    #about {
        padding-top: 10rem;
    }
}
