  /* --------------- */
 /* general styling */
/* --------------- */

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}


body {
    font-family: sans-serif;
    /* to see that the navbar is sticky */
    height: 200vh; 
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,104,255,1) 100%);  */
}

.container {
    padding: 48px 0;
}



  /* ---------------- */
 /* utility  styling */
/* ---------------- */

a {
    color: rgb(187, 122, 1);
    text-decoration: none;
    font: bold 22px sans-serif;
}

a:hover {
    color: rgb(54, 35, 0);
}

  /* --------------- */
 /* navbar  styling */
/* --------------- */

.navbar {
    /* make it stick */
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
    /* in front of all other elements */
    z-index: 99;
    /* set background */
    background-color: white;
    padding: 8px 5%;

    /* define flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav-menu {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    list-style-image: none;
}

.menu-item {
    display: inline-block;
    margin-left: 10px;
}

.bar {
    width: 20px;
    height: 3px;
    background-color: rgb(187, 122, 1);
    margin: 4px auto;
}

.menu-icon {
    display: none;
}

/* logo */
.logo-image {
    display: block;
    margin: auto 0;/* margin atas bawah auto untuk rata atas bawah  */
    height: 30px
}

.logo-container {
    display: flex; /* pakai flex agar img dan txt sama rata  */ 
    /* align-items: center; agart item rata tengah   */
    /* width: auto; cari tahu kegunaan width   */
    /* margin: 0; */
    /* height: 20px; */
}

.logo-txt {
    margin: auto 0; /* margin atas bawah auto untuk rata atas bawah  */ 
    font-size: 30px;
    padding-left: 2px;
    /* line-height: 75px; */
    align-items: center;
    font-weight: bold;
    color: rgb(187, 122, 1);
}


/* responsive */
@media only screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
    }

    .logo-container {
        width: 100%;
    }

    .menu-item {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: end;
    }

    /* hamburger menu */
    .menu-icon {
        display: block;
        position: absolute;
        margin: auto 0px;
        top: 14px;
        right: 5%;
    }

    .menu-icon:hover .bar {
        background-color: rgb(54, 35, 0);
    }

    .nav-menu {
        display: none;
        width: 100%;
    }
    
    .active {
        display: block;
    }
}

@media only screen and (max-width: 580px){

    /* logo */
    .logo-image {
        height: 20px
    }

    .logo-txt {
        font-size: 20px;
    }

    /* hamburger menu */
    .menu-icon {
        top: 12px;
    }
    
}